
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
html{
 font-family: 'Inter', sans-serif;
 line-height: 1.5;
 font-size: 1rem;
}
h1{
    margin:0;
    padding:0;
}
body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

header {
    background-image: url(../img/html5.png);
    height: 200px;
}
footer {
    text-align: center;
    background-color: #013A5B;
    color: rgb(242, 241, 253);
   /* bottom: 0px;
    position: fixed;*/
    width: 1024px;
    margin: 0 auto;
    padding-top:10px;
    padding-bottom: 10px;
}
main {
    background-color:  rgb(242, 241, 253);
    display:flex;
}
nav {
    flex:0 0 200px;
}
.content{
    flex:1;
    padding:20px;
}
.content-index{
    flex:1;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
ul.menu,
li.menuitem {
    padding: 0;
    margin: 0;
}

li.menuitem {
    list-style-type: none;
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(139, 25, 25);
    font-size: 18px;
}
li.menuitem a{
    color: rgba(2, 2, 97, 0.753);
}
li.menuitem:hover{
    background-color: rgba(2, 2, 97, 0.753);
    color: aliceblue;
}
li.menuitem:hover a{
    color: aliceblue;
}

.centrar {
    text-align: center;
}



/* Añadidos desde estilo.css */

a {
    text-decoration: none;
}

a.especial{
    color:red;
}
a.especial:hover{
    text-decoration: underline;
}


.azulcobalto {
    color: cornflowerblue;
}
.etiqueta{
    color:red;
}
.etiquetatitulo{
    color: rgb(3, 62, 172);
}

.txt-derecha{
    text-align: right;
}
.bgamarillo{
    background-color:  #fbec74;
    padding: 10px;
 }

 .fondodinosaurio1{
    background-image: url(../img/dinosaur.jpg);
}
.fondodinosaurio2{
    background-image: url(../img/dinosaur.jpg);
    background-repeat: no-repeat;
    background-size:contain;
   height:200px;
}


a.enlaceexterno::after{
    display: inline-block;
    content: "";
    background: transparent url(../img/simbolos/external.e091ac5d.svg) 0 0 no-repeat;
    background-size: 16px;
    height: 16px;
    margin-left: 3px;
    width: 16px;   

}
/* util para multiples paginas */
.bgwarning{
    background-color: #ffe9ed;
    border-left: 3px solid red;
    border-radius: 5px;
    position:relative;
}
.bgwarning::before{
    background-color: red;
    content: "";
    display: block;
    height: 1rem;
    mask-image: url("../img/note-warning.svg");
    position: absolute;
    top: 1.35rem;
    left:1rem;
    width: 1rem;
    mask-repeat: no-repeat;
}

.fs-1{
    font-size:1em;
}
.fs-2{
    font-size:1.25em;
}
.fs-3{
    font-size:1.5em;
}
.p-1{
    padding:0.5em;
}
.p-2{
    padding:1em;
}
.p-3{
    padding:1.5em;
}
.p-4{
    padding:2em;
}
.py-1{
    padding-top:0.5em;
    padding-bottom:0.5em;
}
.py-2{
	padding-top:1em;
	padding-bottom:1em;
}
.pr-1{
    padding-right:0.5em;
}
.pr-2{
    padding-right:1em;
}
.pr-3{
    padding-right:1.5em;
}
.pl-5{
    padding-left:5em;
}
.pt-3{
    padding-top:2em;
}
.alturalinea-175{
    line-height: 1.75;
}
.w-75{
    width: 75%;
}
.ma{
    margin: 0 auto;
}

pre{
    display:grid;
}
.special{
    color:green;
}


.main-page-content section h2:first-of-type {
    margin-top: 2rem;
}
h1 + ul + p{
    color:grey;
}



/*   estilo de prueba a borrar */
li em {
    color: rebeccapurple;
  }

/*
abbr[title]{
    text-decoration-style: double;
}
    */
/*
a[download]{
    color:#04c53b;
}
    */
/* Efecto hover sobre cualquier parrafo. Lo dejo comentado */
/*
p:hover{
    background-color:bisque;
}
    */

main > p {
    color:green;
}
article :first-child {
    color:blueviolet;
}



